*.ipynb linguist-vendored
*.bib linguist-vendored
*.md linguist-vendored
*.drawio linguist-vendored
*.tex linguist-vendored
*.qmd linguist-vendored

docs/** linguist-vendored
dev/** linguist-vendored
paper/** linguist-vendored